<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-WLZMJ4J"
    height="0"
    width="0"
    style="display: none; visibility: hidden"
  ></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
  <a href='{{ htmlWebpackPlugin.options.content.langPrefix }}/' class='logo'> ле++ </a>
  <div class='right'>
    <div class='content'>
      <nav class='menu'>
        <ul>
          <li>
            <a>{{ htmlWebpackPlugin.options.content.translations.courses.default }} <i class='fa fa-angle-down' aria-hidden='true'></i></a>
            <ul>
              <li>
                <a href='{{ htmlWebpackPlugin.options.content.langPrefix }}/courses/adults'>{{ htmlWebpackPlugin.options.content.translations.courses.adults }}</a>
              </li>
              <li>
                <a href='{{ htmlWebpackPlugin.options.content.langPrefix }}/courses#teens'>{{ htmlWebpackPlugin.options.content.translations.courses.teens }}</a>
              </li>
            </ul>
          </li>
          <li>
            <a href='{{ htmlWebpackPlugin.options.content.langPrefix }}/about'>{{ htmlWebpackPlugin.options.content.translations.about.title }}</a>
          </li>
          <li>
            <a href='{{ htmlWebpackPlugin.options.content.langPrefix }}/feedback-all'>{{ htmlWebpackPlugin.options.content.translations.feedback_all_link }}</a>
          </li>
          <li>
            <a href='https://blog.programming.org.ua'>{{ htmlWebpackPlugin.options.content.translations.news }}</a>
          </li>
          <li>
            <a href='{{ htmlWebpackPlugin.options.content.langPrefix }}/contacts'>{{ htmlWebpackPlugin.options.content.translations.contacts.default }}</a>
          </li>
        </ul>
      </nav>
      <div class='authenticate'>
        <a href='{{ htmlWebpackPlugin.options.content.langPrefix }}/anketa' class='button-primary sign-up'>{{ htmlWebpackPlugin.options.content.translations.anketa }}</a>
        <a href='https://portal.programming.org.ua/login' class='sign-in'>{{ htmlWebpackPlugin.options.content.translations.sign_in }}</a>
      </div>
      <ul class='languages'>
        <li class='language ru'>
          <a href='/ru/{{pageRoute}}'>RU</a>
        </li>
        <li class='language ua'>
          <a href='/{{pageRoute}}'>UA</a>
        </li>
        <li class='language en'>
          <a href='/en/{{pageRoute}}'>EN</a>
        </li>
      </ul>
    </div>
    <button class='mobile-menu-open' type='button' onclick='programmingOrgUa.openMobileMenu()'>
      <i class='fa fa-bars'></i>
    </button>
    <button class='mobile-menu-close' type='button' onclick='programmingOrgUa.closeMobileMenu()'>
      <i class='fa fa-times'></i>
    </button>
  </div>
</header>
