<header>
  <a href='/' class='logo'> ле++ </a>
  <div class='right'>
    <div class='content'>
      <nav class='menu'>
        <ul>
          <li>
            <a>{{ htmlWebpackPlugin.options.translations.courses.default }} <i class='fa fa-angle-down' aria-hidden='true'></i></a>
            <ul>
              <li>
                <a href='/courses/adults'>{{ htmlWebpackPlugin.options.translations.courses.adults }}</a>
              </li>
              <li>
                <a href='/courses#teens'>{{ htmlWebpackPlugin.options.translations.courses.teens }}</a>
              </li>
            </ul>
          </li>
          <li>
            <a href='/about'>{{ htmlWebpackPlugin.options.translations.about.title }}</a>
          </li>
          <li>
            <a href='/feedback-all'>{{ htmlWebpackPlugin.options.translations.feedback_all_link }}</a>
          </li>
          <li>
            <a href='https://blog.programming.org.ua'>{{ htmlWebpackPlugin.options.translations.news }}</a>
          </li>
          <li>
            <a href='/contacts'>{{ htmlWebpackPlugin.options.translations.contacts.default }}</a>
          </li>
        </ul>
      </nav>
      <div class='authenticate'>
        <a href='/anketa' class='button-primary sign-up'>{{ htmlWebpackPlugin.options.translations.anketa }}</a>
        <a href='https://portal.programming.org.ua/login' class='sign-in'>{{ htmlWebpackPlugin.options.translations.sign_in }}</a>
      </div>
      <ul class='languages'>
        <li class='ru'>
          <a href='/ru'>RU</a>
        </li>
        <li class='ua'>
          <a href='/ua'>UA</a>
        </li>
        <li class='en'>
          <a href='/en'>EN</a>
        </li>
      </ul>
    </div>
    <button class='mobile-menu-open' type='button' onclick='programmingOrgUa.openMobileMenu()'>
      <i class='fa fa-bars'></i>
    </button>
    <button class='mobile-menu-close' type='button' onclick='programmingOrgUa.closeMobileMenu()'>
      <i class='fa fa-times'></i>
    </button>
  </div>
</header>
