<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.translations.key }}">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-WLZMJ4J');
    </script>
    <!-- End Google Tag Manager -->
    {{> ../../template-partials/meta}}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WLZMJ4J"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{> ../../header/header}}
    <main>
      <section class="banner">
        <h1 class="banner-title">
          {{ htmlWebpackPlugin.options.translations.home.intro.title }}
        </h1>
        <ul class="banner-list">
          <li class="banner-list-item">
            <i class="fa fa-check"></i>
            {{ htmlWebpackPlugin.options.translations.home.intro.item1 }}
          </li>
          <li class="banner-list-item">
            <i class="fa fa-check"></i>
            {{{ htmlWebpackPlugin.options.translations.home.intro.item2 }}}
          </li>
          <li class="banner-list-item">
            <i class="fa fa-check"></i>
            {{ htmlWebpackPlugin.options.shppAge }}
          </li>
        </ul>
        <div class="banner-courses">
          <a class="banner-course" href="{{ htmlWebpackPlugin.options.langPrefix }}/courses/adults">
            <h3 class="banner-course-type">{{ htmlWebpackPlugin.options.translations.home.intro.courses.adults.title }}</h3>
            <span class="banner-course-tip">{{ htmlWebpackPlugin.options.translations.home.intro.courses.adults.tip }}</span>
            <span class="banner-course-date">{{ htmlWebpackPlugin.options.translations.home.intro.courses.adults.start }}{{ htmlWebpackPlugin.options.startDate }}</span>
          </a>
          <a class="banner-course" href="{{ htmlWebpackPlugin.options.langPrefix }}/courses#teens">
            <h3 class="banner-course-type">{{ htmlWebpackPlugin.options.translations.home.intro.courses.teens.title }}</h3>
            <span class="banner-course-tip">{{ htmlWebpackPlugin.options.translations.home.intro.courses.teens.age }}</span>
          </a>
        </div>
      </section>
      <section class="about-us">
        <div class="about-us-container container">
          <h2 class="about-us-title">{{ htmlWebpackPlugin.options.translations.home.about.title }}</h2>
          <div class="about-us-text">
            {{#each htmlWebpackPlugin.options.translations.courses_p }}
            <p>{{{ this }}}</p>
            {{/each}}
          </div>
        </div>
      </section>
      <section class="feedbacks" @vue:mounted="mounted()" :style="{ display: feedbacks?.length > 0 ? 'block' : 'none' }">
        <h2 class="feedbacks-title">{{ htmlWebpackPlugin.options.translations.home.feedbacks.title }}</h2>
        <div class="feedbacks-container container">
          <div class="feedbacks-slider-container">
            <div class="swiper feedbacks-slider">
              <div class="swiper-wrapper">
                <div class="feedbacks-slide swiper-slide" v-for="(feedback, index) in feedbacks">
                  <header class="feedbacks-slide-header">
                    <img class="feedbacks-slide-image" :src="getImage(feedback)" :alt="getName(feedback)" />
                    <a class="feedbacks-slide-name-link" :href="feedback.link" target="_blank">
                      <strong>\{{getName(feedback)}}</strong>
                    </a>
                  </header>
                  <p class="feedbacks-slide-text" v-if="!isLongText(feedback.message)">\{{feedback.message}}</p>
                  <p class="feedbacks-slide-text" v-else>
                      \{{shouldShowFullText(index) ? feedback.message : getShortText(feedback.message)}}
                    </br>
                    <a class="feedbacks-slide-link" v-if="!shouldShowFullText(index)" @click="more(index)">{{ htmlWebpackPlugin.options.translations.read_more }}</a>
                  </p>
                </div>
              </div>
            </div>
            <i class="feedbacks-slider-previous fa fa-chevron-left" aria-hidden="true"></i>
            <i class="feedbacks-slider-next fa fa-chevron-right" aria-hidden="true"></i>
          </div>
          <div class="swiper-pagination"></div>
          <div class="feedbacks-buttons">
            <a href="{{ htmlWebpackPlugin.options.langPrefix }}/feedback-form" class="feedbacks-buttons-leave-your-feedback button-primary">{{ htmlWebpackPlugin.options.translations.feedback_button }}</a>
            <a href="{{ htmlWebpackPlugin.options.langPrefix }}/feedback-all" class="feedbacks-buttons-watch-all-responses">{{ htmlWebpackPlugin.options.translations.adults.feedbacks.see_all }}</a>
          </div>
        </div>
      </section>
      <section class="blog-posts" @vue:mounted="mounted()" :style="{ display: blogPosts?.length > 0 ? 'block' : 'none' }">
        <div class="container">
          <h2>{{ htmlWebpackPlugin.options.translations.home.latest_news.title }}</h2>
          <ul>
            <li v-for="post in blogPosts">
              <img
                v-if="post._embedded['wp:featuredmedia'][0].media_details.sizes.large.source_url"
                :src="post._embedded['wp:featuredmedia'][0].media_details.sizes.large.source_url"
                alt=""
              />
              <h3>
                <a :href="post.link">\{{ post.title.rendered }}</a>
              </h3>
              <div v-html="post.excerpt.rendered"></div>
              <span class="date">\{{post.date.split('T')[0]}}</span>
            </li>
          </ul>
          <div class="more-posts-container">
            <a class="more-posts" href="https://blog.programming.org.ua">
              {{ htmlWebpackPlugin.options.translations.home.latest_news.see_all }}
            </a>
          </div>
        </div>
      </section>
      <section class="manifesto">
        <div class="container">
          <h2>
            {{{ htmlWebpackPlugin.options.translations.good_school_manifesto.title }}}
          </h2>

          <ul>
            {{#each htmlWebpackPlugin.options.translations.good_school_manifesto.p }}
            <li>
              <details>
                <summary>
                  <span class="text">{{{ this.title }}}</span>
                  <i class="fa fa-chevron-right text-green" aria-hidden="true"></i>
                </summary>
                <div class="content">
                  <p>
                    {{{ this.description }}}
                  </p>
                  {{#each this.blocks }}
                  <div>
                    <p><strong>{{{ this.headline }}}</strong></p>
                    {{#each this.p }}
                    <p>✅ {{{ this }}}</p>
                    {{/each}}
                  </div>
                  {{/each}}
                </div>
              </details>
            </li>
            {{/each}}
          </ul>
        </div>
      </section>
      <section class="partners">
        <div class="partners-slider">
          <div class="partners-slider-wrapper swiper-wrapper">
            <div class="partners-slide swiper-slide">
              <a target="_blank" href="http://roboclub.if.ua/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/roboclub.png" alt="roboclub" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="https://probono.org.ua/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/pbc.png" alt="pbc" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="https://200x300.com/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/200x300.png" alt="200x300" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="http://www.advection.net/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/advection.png" alt="advection" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="https://bandapixels.com/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/bandapixels.svg" alt="bandapixels" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="https://canva.com/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/canva.png" alt="canva" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="https://codeclub.com.ua/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/codeclub.png" alt="codeclub" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="https://cyberpolice.gov.ua/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/cyberpolice.jpg" alt="cyberpolice" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="http://dynamicstreaming.net/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/dynamic_streaming.png" alt="dynamic_streaming" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="https://www.grammarly.com/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/grammarly.png" alt="grammarly" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="https://htmlacademy.ru/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/htmlacademy.png" alt="htmlacademy" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="https://italent.org.ua/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/italent.png" alt="italent" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="http://www.jetbrains.com" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/jetbrains-variant-4.svg" alt="jetbrains" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="https://notion.so/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/notion.jpg" alt="notion" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="http://onix-systems.com/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/onix.png" alt="onix" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="https://ring-ukraine.com/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/ring_labs.png" alt="ring_labs" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="https://slack.com/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/slack.png" alt="slack" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="http://www.techsoup.org/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/techsoup.png" alt="techsoup" />
              </a>
            </div>

            <div class="partners-slide swiper-slide">
              <a target="_blank" href="http://www.wowza.com/" class="partners-slide-link">
                <img class="partners-slide-image" src="/img/wowza.png" alt="wowza" />
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    {{> ../../footer/footer}}
  </body>
</html>
