<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.content.lang }}">
  <head>
    {{> ../../template-partials/meta pageTranslations=htmlWebpackPlugin.options.content.translations.about_us}}
    {{> ../../template-partials/head}}
  </head>
  <body>
    {{> ../../header/header pageRoute='about'}}
    <main class="about">
      <section class="mission">
        <h2>{{ htmlWebpackPlugin.options.content.translations.home.mission.title }}</h2>
        <div class="mission-text">
          {{#each htmlWebpackPlugin.options.content.translations.home.mission.blocks}}
          {{#each this}}
          <p>{{{this}}}</p>
          {{/each}}
          {{/each}}
        </div>
      </section>
      <section class="team">
        <div class="team-slider">
          <div class="team-slider-wrapper swiper-wrapper">
            {{#each htmlWebpackPlugin.options.content.team}}
            <div class="team-slide team-member swiper-slide">
              <div class="team-member-picture-wrapper">
                <div
                  class="team-member-picture-fun"
                  style="background-image: url('/img/team-members/fun-{{ this.image }}.jpg')"
                ></div>
                <div
                  class="team-member-picture"
                  style="background-image: url('/img/team-members/{{ this.image }}.jpg')"
                ></div>
              </div>
              <div class="team-member-text">
                <div>
                  <strong class="team-member-name">
                    {{getProperty this.name ../htmlWebpackPlugin.options.content.lang}}
                    {{getProperty this.surname ../htmlWebpackPlugin.options.content.lang}}
                  </strong>
                </div>
                <div class="team-member-occupation">{{ this.occupation }}</div>
              </div>
            </div>
            {{/each}}
          </div>
          <i class="team-slider-previous fa fa-chevron-left" aria-hidden="true"></i>
          <i class="team-slider-next fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </section>
      <section class="history">
        <h2>{{ htmlWebpackPlugin.options.content.translations.ach_descr1_h }}</h2>
        <div class="history-slider">
          <div class="history-slider-wrapper swiper-wrapper">
            {{#each htmlWebpackPlugin.options.content.translations.about.history.events}}
            <div class="history-event swiper-slide">
              <img src="/img/history-slider/{{ this.image }}.jpg" alt="{{ this.description }}" />
              <div class="history-event-text">
                <div class="history-event-date">{{ this.date }}</div>
                <div>{{ this.description }}</div>
              </div>
            </div>
            {{/each}}
          </div>
          <div class="history-slider-pagination"></div>
        </div>
        <i class="history-slider-previous fa fa-chevron-left" aria-hidden="true"></i>
        <i class="history-slider-next fa fa-chevron-right" aria-hidden="true"></i>
      </section>
      <section class="philosophy">
        <div class="philosophy-card">
          <div class="philosophy-card-text">
            <h2>{{ htmlWebpackPlugin.options.content.translations.philosophy }}</h2>
            <div class="philosophy-slider">
              <div class="swiper-wrapper philosophy-slider-wrapper">
                <div class="swiper-slide">
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil1_p1}}}</p>
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil1_p2}}}</p>
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil1_p3}}}</p>
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil1_p4}}}</p>
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil1_p5}}}</p>
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil1_p6}}}</p>
                </div>

                <div class="swiper-slide">
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil2_p1}}}</p>
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil2_p2}}}</p>
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil2_p3}}}</p>
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil2_p4}}}</p>
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil2_p5}}}</p>
                </div>
                <div class="swiper-slide">
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil3_p1}}}</p>
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil3_p2}}}</p>
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil3_p3}}}</p>
                  <p>{{{htmlWebpackPlugin.options.content.translations.phil3_p4}}}</p>
                </div>
              </div>
              <div class="philosophy-slider-pagination"></div>
            </div>
          </div>
          <div class="philosophy-card-image">
            <img
              src="/img/philosophy.jpg"
              alt="{{ htmlWebpackPlugin.options.content.translations.philosophy }}"
            />
          </div>
        </div>
      </section>
      {{> ../../template-partials/good-school-manifesto/good-school-manifesto}}
      <section class="partners">
        <h2>{{ htmlWebpackPlugin.options.content.translations.partners2 }}<sup> *</sup></h2>
        <div class="partners-list">
          {{#each htmlWebpackPlugin.options.content.partners}}
          <a href="{{ this.link }}" class="partner-icon" target="_blank" rel="noreferrer noopener">
            <img src="{{ this.imgSrc }}" alt="{{ this.title }}" />
          </a>
          {{/each}}
        </div>
        <div class="partnership-rules">
          <p>{{ htmlWebpackPlugin.options.content.translations.partnership_rules_p1 }}</p>
          <p>{{ htmlWebpackPlugin.options.content.translations.partnership_rules_p2 }}</p>
        </div>
      </section>
      {{> ../../template-partials/question-form/question-form page='about'}}
    </main>
    {{> ../../footer/footer}}
  </body>
</html>
