<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.content.lang }}">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WLZMJ4J');
    </script>
    <!-- End Google Tag Manager -->
    {{> ../../template-partials/meta}}
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-WLZMJ4J"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
        ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{> ../../header/header pageRoute='feedback-all'}}
    <section class="feedbacks" @vue:mounted="mounted()" :style="{ display: feedbacks?.length > 0 ? 'block' : 'none' }">
        <div class="feedbacks-container container">
            <h2 class="feedbacks-title">
              {{ htmlWebpackPlugin.options.content.translations.feedback_all_head }}
            </h2>
            <a
              class="button-primary feedbacks-form-button"
              href="{{ htmlWebpackPlugin.options.content.langPrefix }}/feedback-form">
                {{ htmlWebpackPlugin.options.content.translations.feedback_button }}
            </a>
            <div class="feedback" v-for="(feedback, index) in feedbacks">
                <header class="feedback-header">
                    <img class="feedback-image" :src="getImage(feedback)" :alt="getName(feedback)" />
                    <a class="feedback-name-link" :href="feedback.link" target="_blank">
                        <strong>\{{getName(feedback)}}</strong>
                    </a>
                </header>
                <p class="feedback-text" v-if="!isLongText(feedback.message)">\{{feedback.message}}</p>
                <p class="feedback-text" v-else>
                    \{{shouldShowFullText(index) ? feedback.message : getShortText(feedback.message)}}
                    </br>
                    <a class="feedback-link" v-if="!shouldShowFullText(index)" @click="more(index)">{{ htmlWebpackPlugin.options.content.translations.read_more }}</a>
                </p>
            </div>
        </div>
    </section>
    {{> ../../footer/footer}}
</body>
</html>
