<!DOCTYPE html>
<html lang="{{ htmlWebpackPlugin.options.content.lang }}">
  <head>
    {{> ../../template-partials/meta pageTranslations=htmlWebpackPlugin.options.content.translations.adults}}
    {{> ../../template-partials/head}}
  </head>
  <body>
    {{> ../../header/header pageRoute='courses/adults'}}
    <main class="adults">
      <section class="faq">
        <h2>{{ htmlWebpackPlugin.options.content.translations.adults.faq.title }}</h2>
        <ul class="accordion">
          {{#each htmlWebpackPlugin.options.content.translations.adults.faq.questions }}
          <li>
            <details>
              <summary>
                <span class="text">{{{ this.question }}}</span>
                <i class="fa fa-chevron-right text-green" aria-hidden="true"></i>
              </summary>
              <div class="content">
                <p>{{{ this.answer }}}</p>
              </div>
            </details>
          </li>
          {{/each}}
        </ul>
        <br />
        <p>{{{htmlWebpackPlugin.options.content.translations.adults.faq.contact_us}}}</p>
      </section>
    </main>
    {{> ../../footer/footer}}
  </body>
</html>
