<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <nav>
        <ul class="footer-list">
          <li class="footer-list-item">
            <i class="fa fa-location-dot"></i>
            <a
              class="footer-list-item-link"
              href="https://g.page/shpp-kr"
              target="_blank"
              rel="noreferrer noopener"
              >{{ htmlWebpackPlugin.options.content.translations.contacts.address }}</a
            >
          </li>
          <li class="footer-list-item">
            <i class="fa fa-phone"></i>
            <a class="footer-list-item-link" href="tel:+380502011180">050 20 111 80</a>
          </li>
          <li class="footer-list-item">
            <i class="fa fa-envelope"></i>
            <a class="footer-list-item-link" href="mailto:info@programming.org.ua"
              >info@programming.org.ua</a
            >
          </li>
        </ul>
      </nav>

      <nav>
        <ul class="footer-list">
          <li class="footer-list-item">
            <i class="fa-brands fa-instagram"></i>
            <a
              class="footer-list-item-link"
              href="https://www.instagram.com/shpp.kr"
              target="_blank"
              rel="noreferrer noopener"
              >Instagram</a
            >
          </li>
          <li class="footer-list-item">
            <i class="fa-brands fa-facebook-square"></i>
            <a
              class="footer-list-item-link"
              href="https://fb.com/shpp.kr"
              target="_blank"
              rel="noreferrer noopener"
              >Facebook</a
            >
          </li>
          <li class="footer-list-item">
            <i class="fa-brands fa-telegram"></i>
            <a
              class="footer-list-item-link"
              href="https://t.me/shppkr"
              target="_blank"
              rel="noreferrer noopener"
              >Telegram</a
            >
          </li>
        </ul>
      </nav>

      <a
        href="{{ htmlWebpackPlugin.options.content.langPrefix }}/supportus"
        class="footer-support-us"
        >{{ htmlWebpackPlugin.options.content.translations.support_us_button }}</a
      >
    </div>
    <hr class="footer-separator" />
    <div class="footer-copyright">
      © 2012–<span class="current-year">{{ htmlWebpackPlugin.options.content.currentYear }}</span>
      {{ htmlWebpackPlugin.options.content.translations.copyright }}
    </div>
  </div>
</footer>
<script src="https://shpp.github.io/messengers-widget/js/messengers-widget.js"></script>
<script>
  new MessengersWidget({
    color: '#27ae60',
    title: '{{htmlWebpackPlugin.options.content.translations.contact.title}}',
    messengers: {
      phone: '+380502011180',
      email: 'info@programming.org.ua',
      telegram: 'shpp_me',
      viber: '380502011180',
      facebook: '626295794236927',
    },
    titles: {
      phone: '{{htmlWebpackPlugin.options.content.translations.contact.call}}',
      email: '{{htmlWebpackPlugin.options.content.translations.contact.email}}',
      telegram: '{{htmlWebpackPlugin.options.content.translations.contact.telegram}}',
      viber: '{{htmlWebpackPlugin.options.content.translations.contact.viber}}',
      facebook: '{{htmlWebpackPlugin.options.content.translations.contact.facebook}}',
    },
  });
</script>
